@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

:root {
  --white: hsl(0, 0%, 98%);
  --grey: hsl(0, 0%, 41%);
  --black: hsl(0, 0%, 8%);
}


body {
  font-family: 'Epilogue', sans-serif;
  padding: 20px;
  background-color: var(--white);
}
